<div class="header-info text-white text-center">
    <div class="container top-padding">
      <h2>Demo</h2>
      <div>
        <a class="link" routerLinkActive="active" routerLink="/demo/static">Static Ng-DataSheet</a> | 
        <a class="link" routerLinkActive="active" routerLink="/demo/static-paginated">Static Ng-DataSheet paginated</a> | 
        <a class="link" routerLinkActive="active" routerLink="/demo/dynamic">Dynamic Ng-DataSheet</a> | 
        <a class="link" routerLinkActive="active" routerLink="/demo/dynamic-with-customs">Dynamic Ng-DataSheet with custom cells</a> 
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>
