<div class="header-info text-white text-center">
    <div class="container top-padding">
      <h2>Demo</h2>
      <div>
        <a class="link" routerLinkActive="active" routerLink="/demo/static-editable">Static editable</a> | 
        <a class="link" routerLinkActive="active" routerLink="/demo/datasheet">Static editable paginated</a> | 
        <a class="link" routerLinkActive="active" routerLink="/demo/cells">Cells</a> | 
        <a class="link" routerLinkActive="active" routerLink="/demo/models">Models</a> 
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>
