<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2>Exemple of static data with editable ng-datasheet</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ds-datasheet [trBgColor]="'#fffede'" [dataSet]="staticDataSet" [columns]="staticColumns" [dateFormat]="'DD/MM/YYYY'" [defaultTranslation]="defaultTranslation"></ds-datasheet>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Exemple of static data with non-editable paginated ng-datasheet</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="input-group mb-3">
        <input [(ngModel)]="wikiSearch" type="text" class="form-control" placeholder="Wikipedia search ..." aria-label="Wikipedia search ..." aria-describedby="button-search">
        <div class="input-group-append">
          <button class="btn btn-primary btn-outline-secondary" type="button" id="button-search" (click)="searchWiki($event)">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ds-datasheet [dataSet]="paginatedDataSet" [columns]="paginatedColumns" [withPagination]="true" [dateFormat]="'DD/MM/YYYY'" [trBgColor]="'#fffede'"></ds-datasheet>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Exemple of partial data with editable paginated ng-datasheet</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ds-datasheet [dataSet]="staticDataSet" [columns]="staticColumns" [newModelFunction]="createItem" [dateFormat]="'DD/MM/YYYY'" [trBgColor]="'#fffede'"></ds-datasheet>
    </div>
  </div>
</div>