<div class="container-fluid">
    <div class="row pb-5">
      <div class="col-12">
        <h4>Exemple of static data with editable ng-datasheet</h4>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-12">
        <div><code>Enter</code> : Switch to edition mode</div>
        <div><code>Tab</code> : Go to next column, if you reach end of table, go to next row first column</div>
        <div><code>Arrow</code> : Navigate in cells</div>
        <div><code>Ctrl + C</code> : copy mouse selection (can be paste on spreadsheet applications)</div>
        <div><code>Ctrl + V</code> : paste data in cell(s) (ca be copied from spreadsheet applications)</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ds-datasheet 
        [trBgColor]="'#fffede'" 
        [dataSet]="staticDataSet" 
        [columns]="staticColumns" 
        [dateFormat]="'DD/MM/YYYY'"
        [newModelFunction]="createItem"></ds-datasheet>
      </div>
    </div>
  </div>