<header class="header-getting text-white">
    <div class="container text-center">
      <h1>Welcome to Ng-DataSheet</h1>
      <p class="lead">All-in-one Angular 6+ inline spreadsheet</p>
    </div>
  </header>
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 text-center pt-5">
          <p>Ng-DataSheet is a free project proposing an extensible datagrid with or without inline editing.</p>
          <p>See it in action <a routerLink="/demo">here</a> and installation guide <a routerLink="/doc">here</a></p>
      </div>
    </div>
    
  </div>