/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

.content-pad {
    padding-top: 200px;
}

.top-padding {
    padding-top: 60px;
}

.language-bash {
    background-color: #e8e8e8;
    padding-top: 19px;
    border: 1px solid #888888;
    border-radius: 3px;
}

.header-info {
    background: #55ad16; /* Old browsers */
    background: -moz-linear-gradient(top, #55ad16 0%, #548e54 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #55ad16 0%,#548e54 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #55ad16 0%,#548e54 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55ad16', endColorstr='#548e54',GradientType=0 ); /* IE6-9 */
    padding: 15px 0px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.link {
    color: white;
}

.active {
    color: #CCCCCC;
}

.label-cell {
    width: 150px;
}

.doc-container {
    height: calc(100% - 160px);
}
.left-menu {
    float: left;
    background-color: #efefef;
    border-right: #d6d6d6 1px solid;
    position: fixed;
    height: 100%;
    min-width: 160px;
}

.left-menu > ul > li {
    list-style-type: none;
}

.left-menu > ul > li > a {
    color: #000000;
    text-decoration: none;
    
}

.left-menu > ul > li > a:hover {
    color: #5c5c5c;   
}



